
.navbar {
  background: #f3f4f6;
  padding: 8px 40px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
}


/* LEFT */
.navbar-left .logo {
  font-size: 25px;
  font-weight: bold;
  color: #22d3ee;
  text-decoration: none;
  padding-top: 24px;
  

}

/* CENTER */
.navbar-center {
  display: flex;
  gap: 40px;
  align-items: center;
height: 100%;

}

.navbar-center a {
  text-decoration: none;
  color: #444;
  font-size: 16px;
  font-weight: 500;
}

.navbar-center a:hover {
  color: #22d3ee;
}

/* RIGHT */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.lang-btn {
  background: transparent;
  border: none;
  font-size: 15px;
  color: #444;
  cursor: pointer;
}

.lang-dropdown {
  position: absolute;
  top: 45px;
  right: 0;
  background: white;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  width: 160px;
  z-index: 2000;
}

.lang-option {
  padding: 10px;
  cursor: pointer;
}

.lang-option:hover {
  background: #f3f4f6;
}

.auth-btn {
  padding: 8px 16px;
  background: linear-gradient(to right, #60a5fa, #22d3ee);
  border-radius: 8px;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.auth-btn:hover {
  opacity: 0.9;
}

.user-menu {
  position: relative;
}

.avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: linear-gradient(to right, #60a5fa, #22d3ee);
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-dropdown {
  position: absolute;
  right: 0;
  top: 45px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  padding: 8px 0;
  width: 140px;
}

.user-dropdown a,
.user-dropdown button {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.user-dropdown button:hover,
.user-dropdown a:hover {
  background: #f3f4f6;
}

